<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularios login</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="contenedor" ng-controller="myCtrl">
        <h2> -Login-</h2>
        
        <form id="forma" name="forma" method="post" ng-submit="submitForm()">
            <div class="elemento">
                <i class="fas fa-user-secret"></i>
                <label for="usuario">User</label>
                <input type="text" id="usuario" name="usuario" ng-model="user.username" required="true"/>
            </div>
            <div class="elemento">
                <i class="fas fa-lock"></i>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" ng-model="user.password" required="true"/>
                <a href="#" class="link">Forgot your password?</a>
            </div>
            <div class="elemento">
                <input type="submit" value="Submit"/>
            </div>
        </form>
    </div>

    <script>
        angular.module('myApp', [])
        .controller('myCtrl', function($scope) {
            $scope.user = {
                username: '',
                password: ''
            };

            $scope.submitForm = function() {
                // Logic to handle form submission
                console.log('Form submitted');
                console.log('Username: ' + $scope.user.username);
                console.log('Password: ' + $scope.user.password);
            };
        });
    </script>
</body>
</html>

